<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<body>

    <div>
        <table class="boardTable">
            <tr th:each="dto : ${pageResponseDTO.list}">
                <td>[[${dto.bno}]]</td>
                <td th:data-bno="${dto.bno}">[[${dto.title}]]</td>
                <td>[[${dto.writer}]]</td>
            </tr>
        </table>
    </div>

    <div>
        <ul class="pagination pagination-sm m-0 float-right boardUL">
          <li class="page-item"><a class="page-link" href="10">&laquo;</a></li>
          <li class="page-item"><a class="page-link" href="11">11</a></li>
          <li class="page-item"><a class="page-link" href="12">12</a></li>
          <li class="page-item"><a class="page-link" href="13">13</a></li>
          <li class="page-item"><a class="page-link" href="21">&raquo;</a></li>
        </ul>
    </div>  

    <form class="actionForm" action="/board/list" method="get">                                                                             
        <input type="hidden" name="page" value="3">
        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
    </form>

    <script src="/js/pageUtil.js"></script>
        
    <script th:inline="javascript">

        const actionForm = document.querySelector(".actionForm")
        const boardTable = document.querySelector(".boardTable")
        const pageObj = actionForm.querySelector("input[name='page']")
        const boardUL = document.querySelector(".boardUL")

        boardUL.addEventListener("click", (e) => {
            e.preventDefault()
            e.stopPropagation()

            const target = e.target
            const pageNum = target.getAttribute("href")

            pageObj.value = pageNum
            actionForm.setAttribute("action", `/board/list`)
            actionForm.submit()

        },false)

        const {page, size} = [[${pageRequestDTO}]]

        console.log(page, size)

        const {total} = [[${pageResponseDTO}]]

        console.log("total: " + total)

        const pageLIStr = makePages(page, size, total)

        console.log("boardUL: " + boardUL)

        boardUL.innerHTML = pageLIStr

        boardTable.addEventListener("click", (e) => {

            e.preventDefault()
            e.stopPropagation()

            const target = e.target

            if(!target.getAttribute("data-bno")){
                return
            }

            console.log(actionForm)

            const bno = target.getAttribute("data-bno")

            console.log("BNO: " + bno)
            actionForm.setAttribute("action", `/board/read/${bno}`)

            actionForm.submit();
            

        }, false)


    </script>

</body>
</html>