<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/lteLayout.html}"
      >


      <style>
        tr, td {
          border: solid 2px black;
          width: 150px;
          padding: 6px;
        }
        
        button {
          background-color: rgba(73, 107, 219, 0.708);
          width: 80px;
          height: 30px;
          font-size: 18px;
          border-radius: 10px ;
          
        }
      </style>

<body>

    <div layout:fragment="content">

        <h1>List Page</h1>


        <table class="boardTable" >
            <tr th:each="dto : ${pageResponseDTO.list}">
                <td>[[${dto.bno}]]</td>
                <td th:data-bno="${dto.bno}">[[${dto.title}]]</td>
                <td>[[${dto.writer}]]</td>
            </tr>
        </table>
        <a href="/board/regist">등록</a>
    

    <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right boardUL">
          
        </ul>
    </div>  

    <form class="actionForm" action="/board/list" method="get">                                                                             
        <input type="hidden" name="page" value="3">
        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
    </form>

    <script src="/js/pageUtil.js"></script>
</div>
    <script layout:fragment="script" th:inline="javascript">

        const actionForm = document.querySelector(".actionForm")
        const boardTable = document.querySelector(".boardTable")
        const pageObj = actionForm.querySelector("input[name='page']")
        const boardUL = document.querySelector(".boardUL")

        boardUL.addEventListener("click", (e) => {
            e.preventDefault()
            e.stopPropagation()

            const target = e.target
            const pageNum = target.getAttribute("href")

            if(!pageNum){
                return
            }

            pageObj.value = pageNum
            actionForm.setAttribute("action", `/board/list`)
            actionForm.submit()

        },false)

        const {page, size} = [[${pageRequestDTO}]]

        console.log(page, size)

        const {total} = [[${pageResponseDTO}]]

        console.log("total: " + total)

        const pageLIStr = makePages(page, size, total)

        boardUL.innerHTML = pageLIStr

        boardTable.addEventListener("click", (e) => {

            e.preventDefault()
            e.stopPropagation()

            const target = e.target

            if(!target.getAttribute("data-bno")){
                return
            }

            console.log(actionForm)

            const bno = target.getAttribute("data-bno")

            console.log("BNO: " + bno)
            actionForm.setAttribute("action", `/board/read/${bno}`)

            actionForm.submit();
            

        }, false)


    </script>

</body>
</html>