<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

      <style>

        div .list {
          border: 2px solid black; 
          margin-bottom: 4px;
          margin-top: 4px;
          padding: 4px;
        }
      
        button {
          background-color: rgb(197, 194, 194);
          width: 50px;
          height: 30px;
          font-size: 15px;
          border-radius: 10px ;
          
        }  
      
      </style>

<body>

<div>
  <h1>READ PAGE</h1>

  <form method="get" action="/board/list">
    <button>리스트</button>
  </form>
  <br>

  <div class="list">[[${dto.bno}]]</div>
  <div class="list">[[${dto.title}]]</div>
  <div class="list">[[${dto.content}]]</div>
  <div class="list">[[${dto.writer}]]</div>
  <div class="list">[[${dto.duedate}]]</div>

  <form class="actionForm">
    <button class="btnModify">수정</button>
    <button class="btnDelete">삭제</button>
  </form>

  <br>
  댓글
  <br>
  <div>
    <input type="text" name="reply" id="replyInput" value="AAA">
    <input type="text" name="replyer" id="replyerInput" value="AAA">
    <button type="button" class="btnReply">ADD</button>
  </div>

  <div>
    <ul class="replyUL">

    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</div>

<script th:inline = "javascript">

  //수정, 삭제
  const btnModify = document.querySelector(".btnModify")
  const btnDelete = document.querySelector(".btnDelete")
  const actionForm = document.querySelector(".actionForm")

  //댓글
  const replyUL = document.querySelector(".replyUL")

  const {bno} = [[${dto}]]

  const btnReply = document.querySelector(".btnReply")

  //댓글 목록을 가져오는 함수
  const getRemoteList = async(pageNum) => {
    const {data} = await axios.get(`http://localhost:8080/replies/${bno}/list`)

    console.log(data)

    return data
  }

  const getReplyList = async(page, geEnd = false) => {

    const data = await getRemoteList(page)

    console.log("getReplyList..........")
    console.log(data)

    const {list, total} = data

    let str = ""

    for(let i = 0; i < list.length; i++){

      const {rno, reply, replyer} = list[i]

      str += `<li data-rno=${rno}>${rno} - ${reply} - ${replyer}</li>`
    } //end for

    replyUL.innerHTML = str

    console.log("str----"+str)

  }
  getReplyList()

  const postRemoteAdd = async(reply) => {
    const {data} = await axios.post(`http://localhost:8080/replies/${bno}/new`, reply)
    return data
  }

  btnReply.addEventListener("click", e => {
    const replyVal = document.querySelector("input[name=reply]").value
    const replyerVal = document.querySelector("input[name=replyer]").value

    const temp = {reply : replyVal, replyer : replyerVal}

    postRemoteAdd(temp).then(result => {
      console.log(result)
      getReplyList()
    })
  }, false)

  btnModify.addEventListener("click", (e) => {
    actionForm.setAttribute("action", `/board/modify/[[${dto.bno}]]`)
    actionForm.setAttribute("method", `get`)
    actionForm.submit()
  })

  btnDelete.addEventListener("click", (e) => {
    actionForm.setAttribute("action", `/board/delete/[[${dto.bno}]]`)
    actionForm.setAttribute("method", `post`)
    actionForm.submit()
  })






</script>

  



  

</body>
</html>